*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sansita Swashed', cursive;
}
.roma, .napoli, .milano{
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 10px #888888;
  margin:  20px auto;
  position: relative;
  cursor: pointer;
}

.roma{
  background-color: red;
  background-image: url('../img/roma.jpg');
}

.napoli{
  background-color: yellow;
  background-image: url('../img/napoli.jpg');
}

.milano{
  background-color: blue;
  background-image: url('../img/milano.jpg');
}
.titolo{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 4px 4px 8px #000000;
  font-size: 50px;
}

.layover{
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
}

.box:hover .layover{
  background: rgba(0, 0, 0, 0);
}
